/* FONT INFO FOR FUTURE REFERENCE
font-family: "ink-free", sans-serif;
font-weight: 400;
font-style: normal;
*/

/*body height of page*/
html {
    height: 100vh;
}

/*use divs to keep content centered, text left aligned*/
.chapterContent {
    align-self: center;
    max-width: 300px;
    min-width: 150px;
    margin-top: -16px;
    line-height: 46px;

    p {
        text-align: left;
    }
}

/*Generic positioning for page turner*/
.pageTurnRParent {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 65px;
    max-height: 65px;

}

.pageTurnLParent {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 65px;
    max-height: 65px;
    
    /*original image right oriented. rather than make a new
    one, flip the original horizontally*/
    transform: scaleX(-1);

}

.pageTurn {
    max-width: 65px;
    max-height: 65px;

}

/*Instead of hamburger menu, visual novel esque decision
maker. options displayed in a column, activated on hover of
an image, all contained within choiceContainer.*/
.choiceContainer {
    position: relative;
    width: 250px;
    align-self: center;

    img {
        position: absolute;
        width: 200px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

}

/*Use display: none so that the choices don't render
until the user is actively looking for them*/
.choiceContent {
    display: none;
    position: absolute;
    background-color: rgb(222, 237, 251);
    border: 3px;
    border-color: rgb(154, 192, 227);
}

/*display choices in a column for easy readability*/
.choiceContainer:hover .choiceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*have formatting be based on mobile view.
content in a column, center based: have responsiveness be it can expand
and the content still stays center aligned

the main character canonically likes having large 
margins in their journals*/
body {
    margin: 0;
    background-image: url(../styles/images/thinpaper.jpg);
    color: black;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /*universal font*/
    font-family: "ink-free", sans-serif;
    font-weight: 400;
    font-style: normal;

    /*change color of underline in links if they cannot be removed*/
    a {
        color: black;
        text-decoration: none;
    }

}

/*centering chapter title*/
.chapTitle {
    font-family: "ink-free", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 45px;

}