/* FONT INFO FOR FUTURE REFERENCE
font-family: "ink-free", sans-serif;
font-weight: 400;
font-style: normal;
*/

/*Layout for smaller devices*/
@media (max-width: 450px) {

    /*Set background*/
    body {
        background-image: url(../styles/images/thinpaper.jpg);
        color: black;

        /*change color of underline in links if they cannot be removed*/
        a {
            color: black;
            text-decoration: none;
        }
    }

    /*centering chapter title*/
    .chapTitle {
        font-family: "ink-free", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        display: flex;
        justify-content: center;
        margin-top: 13%;

    }
  
}

/*Bigger screens styling*/
@media (min-width: 600px) {

    /*Set background*/
    body {
        background-image: url(../styles/images/thinpaper.jpg);
        color: black;

        /*change color of underline in links if they cannot be removed*/
        a {
            color: black;
            text-decoration: none;
        }
    }
    
    /*centering chapter title*/
    .chapTitle {
        font-family: "ink-free", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        display: flex;
        justify-content: left;
        margin-top: 4%;
        margin-left: 5%;
    }
}