/* FONT INFO FOR FUTURE REFERENCE
font-family: "ink-free", sans-serif;
font-weight: 400;
font-style: normal;
*/

body {
    background-image: url(../styles/images/thinpaper.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "ink-free", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#stressLevel {
    color: rgb(99, 50, 205);
}

/*basic hover functionality
User hovers or clicks, can recieve info on a decision*/
.infoSticker {
    width: 300px;
    height: 300px;
    background-image: url(../styles/images/evilphone.png);
    transition: background-image 0.5s ease-in-out;  

}

.infoSticker:hover {
    background-image: url(../styles/images/testfact.png);
    
}

/*Chapter selection container.
Allow for text to be left aligned within a centered div.
This section of the css file is to style the chapter links*/
.chapSelCont {
    position: relative;
    max-width: 400px;
    min-width: 235px;
    text-align: left;
    line-height: 26px;
    margin-top: -18px;
}

a {
    text-decoration: none;
    color: black;
}
