/* FONT INFO FOR FUTURE REFERENCE
font-family: "ink-free", sans-serif;
font-weight: 400;
font-style: normal;
*/

/*testing stress tracker*/
#B1{
  color: blue;
}

.homepageEls {
  justify-content: center;
  align-content: center;
  align-items: center;

  /*temp gap until I can find better scaling for it*/
  gap: 100px;
  display: flex;
  flex-direction: column;    /* stack image above text */
  height: 80vh;
  margin-top: 20%;

  p {
    position: absolute;
    top: -5px;
    left: 35px;
    font-family: "ink-free", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
  }

}

.hpNotebook {
  width: 400px;
  height: auto;

  /*notebook being tilted gives it a little bit of an off look in alignment
  offsetting with margin-left*/
  margin-left: 4%;
}

.instructionSheet {
  
  .image {
      width: 300px;
  }
  
}